
/*    Default Layout 
-------------------------------------------------------------------------------
*/
body {background: rgb(255,255,255)!important; color: #718490; -webkit-text-size-adjust: 100%; -moz-text-size-adjust:100%; -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased; overflow-x: hidden; overflow-y:auto; font-family: 'hk_groteskregular', sans-serif; font-size: 16px; line-height: 27px; font-weight: 400;}
*{-webkit-box-sizing: border-box;-moz-box-sizing:border-box; box-sizing: border-box;}

/* Begin common style */
h1, h2, h3, h4, h5, h6{font-family: 'CircularStd-Medium', sans-serif; font-weight: 500;}
h1, h2, h3{font-size: 48px; line-height: 52px; letter-spacing: -0.6px; color: #003c4c;}
h2, h3{font-size: 43px; letter-spacing: -0.4px;}
h3{font-size: 36px; }
h4{font-size: 30px; line-height: 42px; letter-spacing: -0.4px; font-family: 'CircularStd-Bold', sans-serif; font-weight: 700;}
h5{font-size: 24px; line-height: 26px; font-family: 'hk_groteskbold', sans-serif; color: #002639; font-weight: 700;}
h6{font-size: 16px; line-height: 27px; font-family: 'hk_groteskregular'; color: #0087ae; font-weight: 400;}


header, footer, .main-wrap, section{float: left; width: 100%;}
.common-wrap{max-width: 1072px; margin: 0 auto; padding: 0 14px;}



.hero-wrap{min-height: 500px;  background-repeat: no-repeat; background-position: center bottom; background-size: cover; background-color: #e7eef2; display: table; position: relative;}
.hero-inner{display: table-cell; vertical-align: middle; padding: 240px 0 290px;}
.home-content .hero-inner .common-wrap{max-width: 1287px; padding: 0 30px; /*max-width: 1255px;*/}
.hero-content{max-width: 684px; float: left; position: relative; z-index: 1;}
.home-content .hero-content{text-align: left; max-width: 610px;}
.home-content .hero-content h1, .datacentre-content .hero-content h1{font-size: 46px;}
.hero-content p{font-size: 22px; line-height: 30px; color: #003c4c; margin-top: 15px;}
.home-content .hero-content p{margin-top: 18px;}
.hero-content a{width: 252px;}



/* Begin Resources-Single page */
.single-resource-content{margin-bottom: 100px}
.single-resource-content .hero-wrap{min-height: 540px;display: block;}
.single-resource-content .hero-inner{position: absolute;top: 0;left: 0;width: 100%;height: 100%;text-align: center;padding: 200px 0 0}
.single-resource-content .hero-inner h1{display: inline-block;float: none;max-width: 1044px;padding: 0 30px}
.category{margin-bottom: 45px}
.category a{color: #003c4c;/*text-transform: lowercase;*/}
.category span{padding: 0 10px;}
.featured-image{position: relative;z-index: 1;max-width: 1044px;margin: -120px auto 0;min-height: 120px;text-align: center;padding: 0 30px}
.featured-image img{display: inline-block;width: auto;float: none;max-width: 100%}
.resource-content-wrap .common-wrap{position: relative;}
.resource-content-wrap.mt-100{margin-top: 100px}
.resource-content{padding: 0 129px;}


.resource-content h2{font-size: 24px;line-height: 26px;font-family: 'CircularStd-Bold', sans-serif;font-weight: 700;margin: 0 0 26px}
.resource-content h3{font-size: 22px;line-height: 30px;font-family: 'CircularStd-Medium', sans-serif;font-weight: 400;margin: 0 0 26px}
.resource-content p{margin-bottom: 26px;}
.resource-content p a, .resource-content li a{color: #0087ae;font-family: 'hk_grotesksemibold', sans-serif;font-weight: 500;}
.resource-content p strong, .resource-content li strong{font-family: 'hk_groteskbold', sans-serif;font-weight: 600;color: #003c4c}
.resource-content ul, .resource-content ol{margin: 0 20px 26px;}
.resource-content ol{margin-left: 46px}
.resource-content ul li, .resource-content ol li{padding: 0 15px;}
.resource-content blockquote{margin: 60px 0;padding: 0 58px;border-left: solid 1px #0087ae;}
.resource-content blockquote p{color: #0087ae;font-size: 24px;line-height: 30px;font-family: 'hk_grotesksemibold_italic', sans-serif;font-style: italic;font-weight: 500}
.resource-content .row{display: inline-block;width: 100%;text-align: center;}